<div style="font-family:Sans-Serif;font-size:12px;width:100%;margin:5px;">
  <p>Γεια σου{% if gift_card.customer %} {{ gift_card.customer.first_name }}{% endif %},</p>

  <p>Εδώ θα βρεις μια δωροεπιταγή για σένα με {{ gift_card.initial_value | money_without_trailing_zeros }} για να ψωνίσεις από το <a href="{{ shop.url }}">{{ shop.name }}</a>.</p>

  {% if gift_card.initial_value != gift_card.balance %}
  <p>Έχεις ακόμα {{ gift_card.balance | money_without_trailing_zeros }} στη δωροεπιταγή σου.</p>
  {% endif %}

  <p><a href="{{ gift_card.url }}">Για να δεις ή να εκτυπώσεις τη δωροεπιταγή πάτα εδώ</a></p>

  <p>Αγόρασες τη δωροεπιταγή για κάποιον άλλο; Προώθησέ του αυτό το email.</p>

  <p>Σας ευχαριστούμε που ψωνίζετε από το κατάστημα <a href="{{ shop.url }}">{{ shop.name }}</a>!</p>
</div>
