<p>Γεια σου {{ shop_name }},</p>
<p></p>
<p>{% if customer.name %}{{ customer.name }}{% else %}Κάποιος{% endif %} έκανε μια παραγγελία στο κατάστημά σου σήμερα, {{ date | date: "%b %d %I:%M%p" }}:</p>
<p></p>
<ul>  {% for line in line_items %} <li> <img src="{{ line | img_url: 'thumb' }}" /> {{ line.quantity }}x {{ line.title }} προς {{ line.price | money }} το καθένα </li> {% endfor %} </ul>
<a href="{{ shop.url }}/admin/orders/{{ id }}">Προβολή παραγγελίας {{order_name}} </a>
{% if fulfillment_aborted %}
<p>Η παραπάνω παραγγελία δεν εκτελέστηκε αυτόματα γιατί χαρακτηρίστηκε ως ύποπτη.</p>{% endif %}
<p></p><br>
{% if has_high_risks? %}<p><b>Έλεγχος ασφαλείας:</b></p>
<p>Υπάρχει πιθανότητα η παραγγελία αυτή να είναι δόλια. Δες την παραγγελία στη διαχείριση (admin) του καταστήματός σου και επικοινώνησε με τον πελάτη για να επιβεβαιώσεις τα στοιχεία του.</p>
<p></p>{% endif %}
<p><b>Μέθοδος πληρωμής:</b></p>
<p>{{ gateway }}</p>
<p></p>
{% if requires_shipping and shipping_address %}
<p><b>Τρόπος αποστολής:</b></p>
{% for shipping_method in shipping_methods %}<p>{{ shipping_method.title }}</p>{% endfor %}
<p></p>
<p><b>Διεύθυνση αποστολής:</b></p>
<p>{{ shipping_address.name }}</p>
<p>{{ shipping_address.street }}</p>
<p>{{ shipping_address.city }}, {{ shipping_address.province }}  {{ shipping_address.zip }}</p>
<p>{{ shipping_address.country }}</p>
<p>{{ shipping_address.phone }}{% endif %}</p>
<p></p>
