{% if billing_address.name %}
<p>Αγαπητέ/ή {{ billing_address.name }},</p>
{% endif %}

<p>Τα παρακάτω προϊόντα απο την παραγγελία {{ name }} έχουν ενημερωθεί με νέα στοιχεία αποστολής:</p>

<ul style="list-style-type:none">
  {% for line in fulfillment.fulfillment_line_items %}<li>
    <img src="{{ line.line_item | img_url: 'small' }}" />
    {{ line.quantity }}x {{ line.line_item.title }}
  </li>{% endfor %}
</ul>

<p>Μεταφέρονται{% if fulfillment.tracking_company %} μέσω {{ fulfillment.tracking_company }}{% endif %} με αριθμό μεταφοράς {{ fulfillment.tracking_number }}. <a href="{{ fulfillment.tracking_url }}">Κάντε κλικ εδώ για να δείτε την κατάσταση της μεταφοράς</a>.</p>

<p>Να σημειωθεί ότι μπορεί να περάσει ένα μικρό χρονικό διάστημα για να ενημερωθεί η κατάσταση της μεταφοράς.</p>
